# CDCWonderPy

In [1]:
import cdcwonderpy as wonder
from cdcwonderpy.enums import *
from cdcwonderpy.icd10code import *
from cdcwonderpy.ages import *

In [2]:
req = wonder.Request()
req.age_groups(Ages.range(15, 44))
req.cause_of_death(ICD10Code.description_best_match("Diseases of the digestive system"))
req.group_by(Grouping.YEAR, Grouping.RACE)
response = req.send()

In [3]:
df = response.as_dataframe()
df.head()

,Year,Race,Deaths,Population,"Crude Rate Per 100,000"
0,1999,American Indian or Alaska Native,210.0,1375207.0,15.270428
1,1999,Asian or Pacific Islander,73.0,5813970.0,1.255596
2,1999,Black or African American,1176.0,17026405.0,6.906919
3,1999,White,5067.0,99715532.0,5.081455
4,2000,American Indian or Alaska Native,213.0,1438695.0,14.805084

In [4]:
from matplotlib import pyplot as plt

# Group total number of deaths by year
df.groupby(by=['Year']).sum()['Deaths'].plot(title='Deaths from Digestive Disease: United States');
fig = plt.gcf()
fig.set_size_inches(16, 9)

## Simple queries

In [5]:
response = wonder.Request().send()
print(response)

    Year     Deaths   Population  Crude Rate Per 100,000
0   1999  2391399.0  279040168.0              857.008873
1   2000  2403351.0  281421906.0              854.002815
2   2001  2416425.0  284968955.0              847.960789
3   2002  2443387.0  287625193.0              849.503819
4   2003  2448288.0  290107933.0              843.923148
5   2004  2397615.0  292805298.0              818.842766
6   2005  2448017.0  295516599.0              828.385616
7   2006  2426264.0  298379912.0              813.145893
8   2007  2423712.0  301231207.0              804.601895
9   2008  2471984.0  304093966.0              812.901365
10  2009  2437163.0  306771529.0              794.455407
11  2010  2468435.0  308745538.0              799.504672
12  2011  2515458.0  311591917.0              807.292443
13  2012  2543279.0  313914040.0              810.183259
14  2013  2596993.0  316128839.0              821.498288
15  2014  2626418.0  318857056.0              823.697626
16  2015  2712630.0  321418820.0              843.954937
17  2016  2744248.0  323127513.0              849.277109
18  2017  2813503.0  325719178.0              863.781807
19  2018  2839205.0  327167434.0              867.814062